%h1 Adicionar Manual
= form_with model: @manual, local: true do |f|
  - if @manual.errors.any?
    %ul
    - @manual.errors.full_messages.each do |msg|
      %li= msg

  %p
    = f.label :"Categoria"
    %br/
    = f.select(:tipo, options_for_select([["Aspirador"],["Geladeira"], ["Microondas"]]), {:class => "form-control"})
  %p
    = f.label :"Marca"
    %br/
    = f.select(:marca, options_for_select([["Brastemp"],["Electrolux"], ["Philips"]]), {:class => "form-control"})  
  %p
    = f.label :"Modelo (ex: frost free inverse)"
    %br/
    = f.text_area(:modelo, {:class => "form-control"})
    %p
    = f.label :"Código (ex: BRE57AK)"
    %br/
    = f.text_area(:codigo, {:class => "form-control"})
  %p
    = f.label :"Carregar Manual (Em formato .PDF, .PNG ou .JPEG)"
    %br/
    = f.file_field(:path, {:class => "form-control", :accept => '.pdf,.png,.jpeg,.jpg'})
    / = file_field_tag(:path,  {:accept => '.pdf,.png,.jpeg,.jpg'})
  %p
    %button.btn{:class => "btn btn-primary"} Enviar Manual
    / = f.submit({:class => "btn btn-primary", M})

