%h1 Adicionar Manual
= form_for :manual, url: manuals_path do |f|
  %p
    = f.label :"Categoria"
    %br/
    = f.select(:tipo, options_for_select([["Aspirador"],["Geladeira"], ["Microondas"]]), {:class => "form-control"})
  %p
    = f.label :"Marca"
    %br/
    = f.select(:marca, options_for_select([["Brastemp"],["Electrolux"], ["Philips"]]), {:class => "form-control"})  
  %p
    = f.label :"Código"
    %br/
    = f.text_area(:codigo, {:class => "form-control"})
  %p
    = f.label :"Modelo"
    %br/
    = f.text_area(:modelo, {:class => "form-control"})
  %p
    = f.label :path
    %br/
    = f.text_area(:path, {:class => "form-control"})
  %p
    %button.btn{:class => "btn btn-primary"} Enviar Manual
    / = f.submit({:class => "btn btn-primary", M})

