%h1 Busca
%p Digite a categoria (ex: geladeira), marca (ex: brastemp), modelo (ex: frost free inverse) ou código (ex: BRE57AK) do produto a ser pesquisado
= form_tag search_path, :method => "get" do
  = text_field_tag(:search, params[:search], {:class => "form-control"})
  %br
  = submit_tag "Buscar"

- if @manuals != nil
  - @manuals.each do |manual|
    %br
    %b Categoria:
    = manual.tipo
    %br
    %b Marca:
    =  manual.marca
    %br
    %b Modelo:
    =  manual.modelo
    %br
    %b Código:
    =  manual.codigo
    / %br
    / Manual id:
    / = manual.id
    %br
    = link_to "Abrir Página do Manual", :controller => "manuals", :action => "show", :id => manual.id
    / %br
    / - if manual.path.attached?
    /   = link_to "Download", manual.path, download: ""
    %br
  %br
- else