!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Repositório de Manuais
    = csrf_meta_tags
    = stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'

    :css

      / .nav {
      /   margin-top:100px;
      / }

      .navbar-nav > li{
        padding-left:15px;
        padding-right:15px;
      }

      / .btn-margin-left {
      /     margin-left: 2px;
      / }


  %body{:style => "background-color:#f2f2f2;"}
    #nav.nav
      %nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
        %a.navbar-brand{:href => home_path} Repositório de Manuais
        #btn-margin-left.btn-margin-left
        %button.navbar-toggler{"aria-controls" => "navbarsExampleDefault", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarsExampleDefault", "data-toggle" => "collapse", :type => "button"}
          %span.navbar-toggler-icon
        #navbarsExampleDefault.collapse.navbar-collapse
          %ul.navbar-nav.mr-auto
            %li
              = link_to "Home", home_path
            %li
              = link_to "Pesquisar Manual", search_path  
            %li
              = link_to "Enviar Manual", new_manual_path          
            %li
              = link_to "Sobre", about_path
    .container
      %p.notice= notice
      %p.alert= alert
      = yield
