!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Repositório de Manuais
    = csrf_meta_tags
    = stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'

    :css
      .nav {
        / background-color: #bcd39c;
        / width: 100%;
        / height: 100%;
        / padding-top:50px;
        margin-top:100px;
      }

      .btn-margin-left {
          margin-left: 2px;
      }


  %body
    #nav.nav
      %nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
        %a.navbar-brand{:href => home_path} Repositório de Manuais
        #btn-margin-left.btn-margin-left
        %button.navbar-toggler{"aria-controls" => "navbarsExampleDefault", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarsExampleDefault", "data-toggle" => "collapse", :type => "button"}
          %span.navbar-toggler-icon
        #navbarsExampleDefault.collapse.navbar-collapse
          %ul.navbar-nav.mr-auto
            %li
              = link_to "Home", home_path
            %li
              = link_to "Upload Manual", new_manual_path          
            %li
              = link_to "Sobre", about_path

    / - if current_user
    /   = link_to 'Sign Out', destroy_user_session_path, method: :delete
    / - else
    /   = link_to 'Sign Up', new_user_registration_path
    /   = link_to 'Sign In', new_user_session_path
    .container
      %p.notice= notice
      %p.alert= alert
      = yield
